table {
  border-collapse: collapse;
}
td,
th {
  text-align: center;
  border: 1px solid #d1dbdb;
  border-collapse: collapse;
  border-spacing: 0;
}

td input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: white;
}
td:not(:first-child) input {
  text-align: center;
}

.Shade {
  background-color: #ebf3f3;
  border: 3px solid #ebf3f3;
}
